.site-navigation__menuTopmenu,
.site-navigation__menuSubmenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation__menuTopmenu {
  display: flex;
  align-items: flex-start;
}

.site-navigation__menuSubmenu {
  opacity: 0;
}

.site-navigation__menuItem {
  display: inline-block;
}
